body {
    background-image: url('/assets/site/mapblue.jpg');
    color: rgb(0, 0, 0);
    font-family: 'Cinzel';
}

.main {
    text-align: center;
    position: relative;
}

.side {
    background-color: rgb(29, 28, 28);
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    z-index: 1;
}

.sideTitle {
    color: beige;
    font-family: 'Cinzel';
    font-size: 30px;
    text-align: center;
}